@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 8000%) / 40);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  overflow: hidden;
  background: linear-gradient(
    to right,
    $dark-cyan,
    $dark-cyan 50%,
    $bright-gray 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

a:hover {
  background-position: 0 100%;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 24px;
  text-align: center;
  padding: 10px 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  color: $bright-gray;
  transition: all 0.1s ease-out;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.cyan-text {
  color: $dark-cyan;
}

.bg-dark {
  background: rgba(57, 62, 70, 0.75);
  backdrop-filter: blur(2px);
}

.bg-cyan {
  background: $dark-cyan;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

body {
  background-color: $grayish-blue;
  color: $bright-gray;
  font-family: 'Poppins', sans-serif;
}
