.landing-page-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 79px;
  display: flex;
}

.intro-text {
  flex: 1;
  // margin-left: 70px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    max-width: 590px;
    font-weight: bold;
    font-size: 6rem;
    line-height: 100%;
    text-transform: uppercase;
  }
}

.text-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    position: absolute;
    top: 40px;
    left: -78px;
    transform: rotate(-5deg);
  }
}

.hire-buttons {
  display: flex;
  margin-top: 48px;
  align-items: center;
  gap: 24px;
}

@media only screen and (max-width: 600px) {
  .landing-page-section {
    flex-direction: column;
    padding: 20px;
  }

  .text-arrow {
    img {
      width: 17%;
      left: -50px;
      top: 10px;
    }
  }

  .hire-buttons {
    gap: 5px;
  }
}
