@import 'colors';

.big-nav {
  position: relative;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);

  .logo {
    flex: 0.2;

    h1 {
      font-family: 'Oswald', sans-serif;
      margin-left: 66px;
      font-size: 24px;

      span {
        color: $dark-cyan;
      }
    }
  }

  .menu {
    flex: 0.8;
    display: flex;
    justify-content: flex-end;

    nav {
      display: flex;
      gap: 20px;
    }
  }
}
